@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * the colors we define
 */
$color: #20782d;
$highlight: saturate($color, 20%);
$active: lighten(saturate($color, 20%), 5%);
$post-it-color-light: #fef18a;
$post-it-color-dark: #fde420;


html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
	Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
	sans-serif;
}

@layer base {
	h1 {
		@apply text-2xl;
		@apply font-bold;
		@apply text-gray-700;
	}

	h2 {
		@apply text-xl;
		@apply font-bold;
		@apply text-gray-700;
	}

	p, dl, h1, h2, li, dd, dt {
		@apply text-gray-700;
		@apply mb-2;
	}

	main {
		@apply p-4 bg-white min-h-full;
	}
}


header, footer, body {
	@apply bg-green-900;
}

a {
	&:hover {
		@apply underline;
	}

	&.active {
		cursor: default;
		@apply underline;
	}

}

header, footer {

	nav {
		@apply flex;

		a {
			@apply text-white mr-3 inline-block;
		}
	}
}

header {
	.heading {
		a {
			@apply font-bold text-white text-xl block whitespace-nowrap;
			@media (min-width: theme('screens.sm')) {
				@apply inline-block;
			}
		}
	}

	nav {
		@apply px-4 font-bold;
	}
}

footer {
	@apply p-3;
}

@media (min-width: theme('screens.md')) {
}

@media (min-width: theme('screens.lg')) {
}

@media (min-width: theme('screens.xl')) {
}


/*
POST-IT
 */

address {
	@apply m-2 lg:m-5 inline-block px-5 pb-5 pt-0.5 text-gray-800;
	background: $post-it-color-light linear-gradient(150deg, $post-it-color-dark 0%, $post-it-color-light 100%);
	border: 1px solid $post-it-color-dark;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	border-bottom-right-radius: 60px 5px;
	position: relative;
	transition: all 0.3s ease;

	&::before {
		background-color: $post-it-color-dark;
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		border: 0;
		right: 0px;
		top: 0;
		height: 40px;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		right: -1px;
		width: 200px;
		height: 140px;
		background-image: linear-gradient(173deg, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0.4) 100%);
		transform: rotate(4deg);
		filter: blur(2px);
		z-index: -1;
	}

	&:nth-child(3n) {
		transform: rotate(5deg);
	}

	&:nth-child(3n-1) {
		transform: rotate(-4deg);
	}

	&:hover {
		transform: scale(1.1);
		z-index: 2;
	}
}


dl {
	@apply grid grid-cols-3;

	dt {
		@apply col-span-1 font-bold;
	}

	dd {
		@apply col-span-2;

	}
}

/*
Calendar
 */

.fc-daygrid-dot-event {
	align-items: baseline;
}

.fc-event-title {
	white-space: normal;
}

.fc-daygrid-more-link {
	font-weight: bold;
	float: none !important;
	display: block;
	text-align: center;
	font-size: 2em;
	background-color: #ddd;
	padding: 20px;
	border-radius: 4px;
	&.one-third {
		@apply bg-gray-100;
	}
	&.two-thirds {
		@apply bg-gray-200;
	}
	&.full {
		@apply bg-gray-300;
	}
}



