@import "~react-image-gallery/styles/scss/image-gallery.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

$color: #20782d;
$highlight: lighten(saturate($color, 20%), 8%);
$active: lighten(saturate($color, 20%), 5%);


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-gray-700;
  }

  h2 {
    @apply text-xl;
    @apply font-bold;
    @apply text-gray-700;
  }

  p, dl, h1, h2, li {
    @apply text-gray-700;
    @apply my-2;
  }

  main {
    @apply mx-5 px-5 rounded-md bg-white min-h-full;
  }
}

.external-link {
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(tt-icon.svg);
  background-size: 2rem auto;
  padding-left: 36px;

}

header, footer, body {
  background-color: $color;
}

nav {
  background-color: $highlight;
  @apply mb-5 rounded-md;

  a {
    @apply text-white p-3 text-lg font-bold block;
    &:first-child {
      @apply rounded-t-md;
    }

    &:last-child {
      @apply rounded-b-md;
    }

    @media (min-width: theme('screens.md')) {
      @apply px-5 text-sm inline-block ;
      &:first-child {
        @apply rounded-l-md rounded-tr-none;

      }
      &:last-child {
        @apply rounded-r-md rounded-bl-none;
      }
    }
    @media (min-width: theme('screens.lg')) {
      @apply text-base;
    }

    @media (min-width: theme('screens.xl')) {
    }


    &:hover {
      background-color: $color;
      @apply text-white;
    }

    &.active {
      &:hover {
        // color: black;
        // @apply text-gray-700;
        cursor: pointer !important;
      }

      background-color: $active;
      @apply text-white;


    }
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}


/*
POST
 */
$post-it-color-light: #fef18a;
$post-it-color-dark: #fde420;


address {
  @apply m-5 inline-block px-5 pb-5 pt-0.5 text-gray-800;
  background: $post-it-color-light linear-gradient(150deg, $post-it-color-dark 0%, $post-it-color-light 100%);
  border: 1px solid $post-it-color-dark;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 60px 5px;
  position: relative;
  transition: all 0.3s ease;

  &::before {
    background-color: $post-it-color-dark;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    border: 0;
    right: 0px;
    top: 0;
    height: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -1px;
    width: 200px;
    height: 140px;
    background-image: linear-gradient(173deg, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0.4) 100%);
    transform: rotate(4deg);
    filter: blur(2px);
    z-index: -1;
  }

  &:nth-child(3n) {
    transform: rotate(5deg);
  }

  &:nth-child(3n-1) {
    transform: rotate(-4deg);
  }

  &:hover {
    transform: scale(1.1);
    z-index: 2;
  }
}







